* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
}

ul {
    list-style-type: none;
    margin: 10px;
}

body {
    height: 100vh;
    background-color: hsl(47, 88%, 63%);
    border-radius: 10px;
}

main {
    background-color: white;
    padding: 1rem 1rem;
    margin: auto;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 5px 5px 0px;
    text-align: left;
    max-width: 400px;
    justify-content: center;
}

.yellow-container {
    margin: 10px;
}

.card {
    display: inline-block;
    margin-bottom: auto;
}

.card img {
    max-width: 100%; /* Ensure the image does not exceed the container width */
    height: auto; /* Maintain aspect ratio */
    display: flex; /* Remove default inline behavior */
    margin: 1rem 1rem 1rem; /* Center the image horizontally */
    border-radius: 10px;
}

h1 {
    margin: 10px;
}

h1:hover {
    color:hsl(47, 88%, 63%);
    cursor: pointer;
    
}
h2{
    background-color: hsl(47, 88%, 63%);
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}

p {
    color: hsl(0, 0%, 50%);
    margin: 1rem, 1rem, 1rem;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    
    
}

h3 {
    font-weight: 500;
    margin: 0;
    padding: 10px;
}

li {
    font-weight: 800;
}

.attribution { 
    font-size: 11px;
    text-align: center;
    }

.attribution a {
    color: hsl(228, 45%, 44%)
}